<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>All Blog</title>
    <style>
      .card-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      img {
        max-height: 200px;
      }
      .card {
        margin: 0 10px 20px 10px;
      }
      span {
        font-size: xx-small;
        margin-top: 23px;
        float: right;
        display: block;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 card-container">
      <%blogs.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <% if (blog.coverImageURL) { %>
        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="..." />
        <% }%>
        <div class="card-body">
          <h5 class="card-title">Title: <%= blog.title %></h5>

          <a href="/blog/<%=blog._id  %>" class="btn btn-primary">View</a>
          <a
            href="/blog/delete/<%=blog._id  %>"
            data-method="delete"
            class="btn btn-danger"
            >Delete</a
          >
          <span><%= blog. postvisiblity %></span>
        </div>
      </div>

      <% }) %>
    </div>
    <%-include('./partials/script') %>
  </body>
</html>
