<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <style>
      .card-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      img {
        max-height: 200px;
      }
      .card {
        margin: 0 10px 20px 10px;
      }
      span {
        font-size: xx-small;
        margin-top: 23px;
        float: right;
        display: block;
      }
      .button-tag {
        display: inline;
        text-align: center;
        font-size: 9px;
        margin-left: 5px;
      }
      .pagination {
        display: flex;
        justify-content: center;
        margin-block: 3rem;
      }
      .next {
        margin-left: 0rem;
      }
      .prev {
        margin-right: 66rem;
      }
      .title {
        overflow: hidden;
        white-space: nowrap;
        padding-bottom: 2px;
        text-overflow: ellipsis;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3 card-container">
      <%all.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <% if (blog.coverImageURL) { %>
        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="..." />
        <% }%>
        <div class="card-body">
          <h5 class="card-title title">Title: <%= blog.title %></h5>

          <a href="/blog/<%=blog._id  %>" class="btn btn-primary button-tag"
            >View</a
          >

          <% if (locals.user) { %> <% if (locals.user._id == blog.createdBy) {
          %>
          <a
            href="/blog/delete/<%=blog._id  %>"
            data-method="delete"
            class="btn btn-danger button-tag"
            >Delete
          </a>

          <% } %> <% } %> <% if (locals.user) { %> <% if (locals.user._id ==
          blog.createdBy) { %>
          <a href="/blog/edit/<%=blog.id %>" class="btn btn-info button-tag"
            >Edit</a
          >
          <% } %> <% } %>

          <span><%= blog. postvisiblity %></span>
        </div>
      </div>
      <% }) %>
    </div>

    <!-- pagination -->
    <%- include("./partials/pagination") %> <%-include('./partials/script') %>
  </body>
</html>
